%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% Erlang compiler options
{erl_opts, [no_debug_info,
            {i, "include"},
            {src_dirs, ["src"]}
           ]}.

{plugins, [
           compile_literate,
           markup
          ]}.

{plugin_dir, "priv/rebar_plugins"}.
